<!DOCTYPE html>
<html lang="en">
{% include "head.html" %}
<body>	
	<section style="margin-top:10%">
		<div style="text-align:center">
			<img src="/static/pic/cryptology_logo.png">
		</div>
		<div class="container text-center">
			<form role="form" action="answer" method="post">
				<div class="form-group">
					<h4 class="mb-0">{{temple_dict['question']}}</h4>
					<div class="row" style="margin-top:3%">
						<input type="hidden" name="id" value={{temple_dict['id']}}>
						{% for item in temple_dict['choices'] %}
							<div class="radio" style="margin-top:1%">
								<input id="{{item.index}}" type="radio" name="answer" value="{{item}}">
								<label for="{{item.index}}">
								{{item}}
								</label>
							</div>
						{% endfor %}
					</div>
				</div>
				<input class="btn btn-primary btn-l" style="margin-top:3%" type="submit" value="Submit">
			</form>
		</div>
	</section>
	
	{% include "scripts.html" %}
</body>
</html>
