<head>
    <meta charset="UTF-8">
    <title>choose your favority hash function</title>
	<link href="/static/include/css/bootstrap.min.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="/static/fonts/all.min.css" rel="stylesheet" type="text/css">
	<link href="/static/fonts/google-fonts.css" rel="stylesheet" type="text/css">
	<link href="/static/fonts/simple-line-icons.css" rel="stylesheet">
	<link href="/static/fonts/font-awesome.css" rel="stylesheet">
	<link href="/static/include/css/stylish-portfolio.min.css" rel="stylesheet">
	<link href="/static/include/css/awesome-bootstrap-checkbox.css" rel="stylesheet">
	<link href="/static/include/css/awesome-bootstrap-checkbox.min.css" rel="stylesheet">
</head>